<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Editor utenti</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			<div sec:authorize="hasAuthority('ADMIN')">
				
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>
		
				<ul class="nav nav-pills">
					<li class="nav-item"><a href="/" class="nav-link" aria-current="page">Dashboard</a></li>
					<li class="nav-item"><a href="/categorie" class="nav-link">Categorie</a></li>
					<li class="nav-item"><a href="/tickets/create" class="nav-link">Nuovo ticket</a></li>
					<li class="nav-item"><a href="/user/create" class="nav-link">Nuovo utente</a></li>
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
				</ul>
			</div>	
			<div sec:authorize="!hasAuthority('ADMIN')">
					
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
						<svg class="bi me-2" width="40" height="32">
							<use xlink:href="#bootstrap"></use>
						</svg>
					</a>
			
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="/" class="nav-link" aria-current="page">Dashboard</a></li>
						<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
					</ul>
				</div>	
			</header>

	</div>
	<div class="container">
		<h1 th:unless=${editMode} th:text="|Crea nuovo utente|"></h1>
		<h1 th:if="${editMode}" th:text="|Modifica utente: ${user.username}"></h1>
		<!-- FORM -->
		<form th:object="${user}" method="post" id="form-ticket"
			th:action="${editMode} ? @{|/user/update/${user.id}|} : @{/user/create}">

			<input type="hidden" th:field="*{id}" id="id">
			<input type="hidden" th:field="*{isAttivo}" id="flag-attivo">
			<!-- username -->
			<label for="username" class="form-label">Username</label>
			<input type="text" th:field="*{username}" placeholder="Username" id="username" class="form-control"
				required>


			<!-- password -->
			<label for="password" class="form-label">Nuova password</label>
			<input required type="text" class="form-control" id="password" th:field="*{password}"></input>

			<!-- ruolo -->
			<div sec:authorize="hasAuthority('ADMIN')">
				<label for="ruoli" class="form-label">Ruoli</label>
				<th:block th:each="ruolo:${ruoli}">
					<input type="checkbox" name="ruolo" th:value="${ruolo.getId}" th:field="*{roles}">
					<label th:text="${ruolo.getName()}"></label>
				</th:block>
			</div>
			<div sec:authorize="hasAuthority('USER')">
				<input type="hidden" th:field="*{roles}" id="roles">
			</div>


			<div th:if="${#fields.hasAnyErrors()}">
				<ul class="list-group">
					<il th:each="err : ${#fields.allErrors}" th:text="${err}"
						class="alert alert-primary list-group-item">

					</il>
				</ul>
			</div>
			<button type="submit" class="btn btn-primary mb-3">Salva</button>

		</form>

	</div>
	<!-- SCRIPT BOOTSTRAP-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>